{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
   <body>
    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>


</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
       <div class="post">

            <p>published: 30.10.2019, 13:01</p>
            <h1><a href="">Primeros pasos</a></h1>
            <p>Desde cero: Descripción general </p>

 <p>Instalación Tutorial: Parte 1: Solicitudes y respuestas </p> 
 <p>Parte 2: Modelos y el sitio de administración  </p>
 <p> Parte 3: Vistas y plantillas </p>
  <p>Parte 4: Formularios y vistas genéricas </p>
  <p> Parte 5: Pruebas </p>
    <p>Parte 6: archivos estáticos </p>
    <p> Parte 7: Personalizar el sitio de administración Tutoriales avanzados: Cómo escribir aplicaciones reutilizables Escribiendo tu primer parche para Django</p>
        </div>

         </div>
    </div>
</div>
    </body>
</html>